.admonitionblock td.icon {
  width: 10em;
  font-weight: bold;
  vertical-align: top;
}
.admonitionblock td.content div.title {
  font-weight: bold;
}
.user-profile:after,
.room-edit:after,
.admonitionblock td.icon div.title:before {
  font-family: "FontAwesome";
}
.note td.icon {
  background-color: #c0e6ff;
}
.note td.icon div.title:before {
  content: "\f05a\00a0\00a0 ";
}
.tip td.icon {
  background-color: #c8f08f;
}
.tip td.icon div.title:before {
  content: "\f08d\00a0\00a0 ";
}
.important td.icon {
  background-color: #ff7832;
}
.important td.icon div.title:before {
  content: "\f12a\00a0\00a0 ";
}
.warning td.icon {
  background-color: #fdd600;
}
.warning td.icon div.title:before {
  content: "\f071\00a0\00a0 ";
}
.caution td.icon {
  background-color: #e71d32;
  color: white;
}
.caution td.icon div.title:before {
  content: "\f0e7\00a0\00a0 ";
}
.imageblock {
  padding: 0 10px 10px 10px;
}
.imageblock .title {
  font-size: 0.8em !important;
  padding-bottom: 10px;
}
.page-inner section h1 {
    background-image: url("https://game-on.org/images/go-logo.png");
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 1.5em;
}
.user-profile:after {
    content: " (\f007)";
}
.room-edit:after {
    content: " (\f1ad)";
}
.sidebarblock {
    background-color: silver;
    padding: 5px;
}
